fastapi
gunicorn
uvicorn[standard]
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
SQLAlchemy
SQLAlchemy-Utils
alembic
psycopg2-binary  # psycopg2 と psycopg2-binary の重複を解消
pydantic
python-jose[cryptography]
python-multipart
python-dotenv
pydantic-settings